{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Inscription</h1>

        {{ form(form) }}
    </div>
{% endblock %}
