{% extends 'base.html.twig' %}

{% block title %}Choisir ma livraison{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center text-black-50">Choisir ma livraison</h1>
    {{ form(form) }}
</div>
{% endblock %}
